@use "mixins" as mixins;

.callback {
  --_rounded: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: var(--_rounded);

  @include mixins.breakpoint-up(sm) {
    --_rounded: 1.25rem;
  }

  @include mixins.breakpoint-up(lg) {
    --_rounded: 2rem;

    gap: 2.5rem;
    background-color: var(--dark-300);
  }

  &-header {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-background {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: calc((-0.5 * var(--_layout-height)) + 1.5rem);
    border-top-right-radius: var(--_rounded);
    border-top-left-radius: var(--_rounded);
    padding: 2rem 1.25rem;
    box-shadow: inset 0 .25rem 10rem 0 var(--dark-300);
    position: relative;
    z-index: 1;

    @include mixins.breakpoint-up(sm) {
      padding: 2.5rem;
    }

    @include mixins.breakpoint-up(lg) {
      margin-bottom: unset;
      border-bottom-right-radius: var(--_rounded);
      border-bottom-left-radius: var(--_rounded);
    }

    &:after {
      content: '';
      display: block;
      background: radial-gradient(circle at 20% 80%, rgba(var(--primary-rgb), .6), transparent 75%);
      // background-image: linear-gradient(225deg, rgba(var(--primary-rgb), 0) 0%, rgba(var(--primary-rgb), .60) 100%);
      border-radius: inherit;
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: .875rem;
      font-weight: 500;

      @include mixins.breakpoint-up(sm) {
        gap: 1.5rem;
        font-size: 1.5rem;
      }

      @include mixins.breakpoint-up(lg) {
        grid-row: 2 / 3;
        gap: 1rem;
      }
    }

    &-title {
      font-size: 1.5rem;

      @include mixins.breakpoint-up(sm) {
        font-size: 3rem;
      }
    }
  }

  &-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
    background-color: var(--dark-300);
    border-radius: var(--_rounded);
    padding: var(--container-offset);
    position: relative;
    z-index: 1;

    @include mixins.breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.breakpoint-up(lg) {
      grid-template-columns: repeat(1, 1fr);
      background-color: transparent;
      padding: 2.5rem 3rem;
    }

    &-group {
      display: contents;

      @include mixins.breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
      }
    }

    &-message {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.25rem;
      order: 19;

      .legend {
        display: none;
      }
    }

    &-agree {
      font-size: .75rem;

      .toggle-label {
        color: var(--text-color);
      }
    }

    &-footer {
      grid-column: -1 / 1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-top: auto;
      order: 20;

      @include mixins.breakpoint-up(lg) {
        grid-column: initial;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
      }

      [type="submit"] {

        @include mixins.breakpoint-up(lg) {
          --_width: 100%;

          max-width: 10rem;
        }
      }
    }

    > .fieldset {

      &:first-child {

        @include mixins.breakpoint-up(sm) {
          order: -20;
        }

        @include mixins.breakpoint-up(lg) {
          order: initial;
        }
      }

      &:nth-child(4) {

        @include mixins.breakpoint-up(sm) {
          order: 18;
        }

        @include mixins.breakpoint-up(lg) {
          order: initial;
        }
      }

      &:nth-child(5) {

        @include mixins.breakpoint-up(sm) {
          order: -19;
        }

        @include mixins.breakpoint-up(lg) {
          order: initial;
        }
      }
    }

    .control-group {

      &-text {
        min-width: 4ch;

        @include mixins.breakpoint-up(lg) {
          min-width: unset;
        }
      }
    }
  }

  &-picture {
    display: flex;
    justify-content: center;
  }

  &--product {
    background-color: transparent;
    background-image: linear-gradient(170deg, rgba(var(--light-rgb), .15) 0%, rgba(204, 204, 204, .15) 50%, rgba(153, 153, 153, .15) 100%);
    padding: 2rem var(--container-offset);

    @include mixins.breakpoint-up(lg) {
      padding: 3rem 5rem 3rem 1.25rem;
    }

    .callback-body {
      gap: 1.5rem;

      @include mixins.breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .callback-form {
      background-color: transparent;
      padding: unset;

      @include mixins.breakpoint-up(sm) {
        grid-template-columns: 1fr;
      }

      @include mixins.breakpoint-up(md) {
        grid-template-columns: 1fr;
      }

      &-footer {

        @include mixins.breakpoint-up(md) {
          flex-direction: row;
        }
      }
    }
  }
}
