// stylelint-disable function-disallowed-list

%offcanvas-css-vars {
  // scss-docs-start offcanvas-css-vars
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 25rem;
  --bs-offcanvas-height: 100%;
  --bs-offcanvas-padding: 2rem var(--container-offset);
  --bs-offcanvas-color: inherit;
  --bs-offcanvas-bg: var(--dark-700);
  --bs-offcanvas-border-width: 0;
  --bs-offcanvas-border-color: transparent;
  --bs-offcanvas-box-shadow: 0px 0.3px 0px 0px rgba(0, 0, 0, 0.01), 0px 4px 24px 0px rgba(0, 0, 0, 0.08);;
  --bs-offcanvas-transition: transform var(--transition-duration) var(--transition-timing-function);
  --bs-offcanvas-title-line-height: var(--lh-base);
}

.offcanvas {
  @extend %offcanvas-css-vars;

  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--bs-offcanvas-width);
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  box-shadow: var(--bs-offcanvas-box-shadow);
  outline: 0;
  transition: var(--bs-offcanvas-transition);

  &.offcanvas-start {
    top: 0;
    left: 0;
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  &.offcanvas-end {
    top: 0;
    right: 0;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  &.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  &.offcanvas-bottom {
    --bs-offcanvas-width: 100%;
    --bs-offcanvas-height: 80%;

    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    transform: translateY(100%);

    &::after {
      content: '';
      width: 6.25rem;
      height: .25rem;
      display: block;
      background-color: var(--dark-200);
      border-radius: .75rem;
      margin-block: .75rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .btn-close {
      position: absolute;
      bottom: 2rem;
      right: var(--container-offset);
    }
  }

  &.showing,
  &.show:not(.hiding) {
    transform: none;
  }

  &.showing,
  &.hiding,
  &.show {
    visibility: visible;
  }

  .btn-close {
    --_color: var(--light);
    --_color-hover: var(--light);
    --_color-active: var(--light);

    --_rounded: 50rem;
    --_padding: .375rem;
    --_icon-size: 1.75rem;
  }

  .list-group {
    --bs-list-group-item-padding-y: .25rem;

    &-item {

      &--header {
        font-size: 1.375rem;
        font-weight: 500;
        border-bottom: .0625rem solid var(--dark-200);
        padding-block: 0rem .75rem;
        margin-bottom: .5rem;
      }
    }

    &-link {
      --_fw: 500;
      --_color: var(--gray);
    }

    &--contacts {

      .list-group-item {
        display: flex;
        align-items: center;
        gap: 1rem;

        .btn-icon {
          --_icon-size: 2.5rem;
        }
      }
    }
  }
}

.offcanvas-backdrop {
  display: block;
  background-color: rgba(var(--dark-rgb), .50);
  backdrop-filter: blur(.125rem);
  opacity: 1;
  cursor: pointer;
  position: fixed;
  inset: 0;
  z-index: 1040;
}

.offcanvas-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: var(--bs-offcanvas-title-line-height);
  margin: 0;
}

.offcanvas-header {
  flex-direction: column;
  gap: 2rem;
  padding: var(--bs-offcanvas-padding);
  padding-bottom: 1rem;

  &,
  &-top,
  &-bottom {
    display: flex;
  }

  &-top {
    align-items: center;
    justify-content: space-between;
  }

  &-bottom {
    flex-wrap: wrap;
    gap: .75rem;

    > * {
      flex: 1 1;
    }
  }

  .btn-phone {
    --_fs: 1.125rem;
  }

  .btn-close {
    margin-left: auto;
  }
}

.offcanvas-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--bs-offcanvas-padding);
  padding-top: 1rem;
  overflow-y: auto;

  .list-group {

    + .list-group {
      margin-top: 2rem;
    }
  }
}
