<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-info">
        <a href="./" class="btn footer-logo">
          <img
            loading="lazy"
            src="./img/logo--footer.svg"
            class="image"
            width="196"
            height="40"
            alt="UMINERS"
          />
        </a>

        <div class="footer-contacts">
          <ul class="list-group list-group--contacts">
            <li class="list-group-item list-group-item--header">Contacts</li>
            <li class="list-group-item">
              <a href="tel:+88004444852" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/phone.svg#svg-phone"></use>
                  </svg>
                </span>

                +8 (800) 444 48-52
              </a>
            </li>
            <li class="list-group-item">
              <a href="mailto:sales@uminers.com" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/email.svg#svg-email"></use>
                  </svg>
                </span>

                sales@uminers.com
              </a>
            </li>
          </ul>
          <ul class="list-group list-group--socials">
            <li class="list-group-item list-group-item--header">
              Our social media
            </li>
            <li class="list-group-item">
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use
                      xlink:href="img/icons/instagram.svg#svg-instagram"
                    ></use>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/facebook.svg#svg-facebook"></use>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/inbox.svg#svg-inbox"></use>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use
                      xlink:href="img/icons/x-twitter.svg#svg-x-twitter"
                    ></use>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn list-group-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/youtube.svg#svg-youtube"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>

        <div>
          <ul class="list-group list-group--text">
            <li class="list-group-item list-group-item--header">
              Headquarters in Hong Kong
            </li>
            <li class="list-group-item">
              Room 801A, 8/F, Tsim Sha Tsui Centre, 66 Mody Road, Tsim Sha Tsui,
              Kowloon
            </li>
          </ul>
        </div>
      </div>

      <nav class="footer-nav">
        <ul class="list-group">
          <li class="list-group-item list-group-item--header">About us</li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> About Uminers </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Our awards </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link">
              Payment and delivery terms
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Contacts </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Blog </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Uminers Academy </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Careers at Uminers </a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item--header">Products</li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> ASIC miners </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Mining containers </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link">
              Mobile gas-powered electricity generation solutions
            </a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item--header">Services</li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Hosting </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link">
              Turnkey mining solutions
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link">
              Payment in installments
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> For Investors </a>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item list-group-item--header">Legal</li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> KYС terms </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Privacy policy </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Cookie policy </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="btn list-group-link"> Disclaimers </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>
        Copyright © UMINERS. All rights reserved. UMINERS and the UMINERS logo
        are trademarks owned by UMINERS.
      </p>
    </div>
  </div>
</footer>
