<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="./" class="btn header-logo">
        <img
          loading="lazy"
          src="./img/logo.svg"
          class="header-logo-img"
          width="135"
          height="24"
          alt="UMINERS"
        />
      </a>
      <div class="header-content">
        <nav class="header-nav">
          <a href="#" class="btn btn-sm btn-primary header-catalog">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/menu.svg#svg-menu"></use>
              </svg>
            </span>
            Catalog
          </a>

          <div class="dropdown">
            <button
              class="btn btn-sm btn-plaintext dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-offset="0, 28"
              aria-expanded="false"
            >
              Mining

              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
                </svg>
              </span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="btn dropdown-item" href="#">Hardware</a></li>
              <li><a class="btn dropdown-item" href="#">Hosting</a></li>
              <li>
                <a class="btn dropdown-item" href="#"
                  >Turnkey Mining Solutions</a
                >
              </li>
              <li><a class="btn dropdown-item" href="#">Investments</a></li>
              <li><a class="btn dropdown-item" href="#">Containers</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-sm btn-plaintext dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-offset="0, 28"
              aria-expanded="false"
            >
              Blog

              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
                </svg>
              </span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="btn dropdown-item" href="#">Articles</a></li>
              <li><a class="btn dropdown-item" href="#">News</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-sm btn-plaintext dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              data-bs-offset="0, 28"
              aria-expanded="false"
            >
              About Us

              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
                </svg>
              </span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="btn dropdown-item" href="#">About Uminers</a></li>
              <li>
                <a class="btn dropdown-item" href="#">Delivery and Payment</a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn btn-sm btn-plaintext"> Contacts </a>
        </nav>

        <div class="header-actions">
          <div class="header-actions-item">
            <a href="tel:+88004444852" class="btn btn-sm btn-phone">
              +8 (800) 444 48-52
            </a>
            <a href="#" class="btn btn-base btn-icon">
              <span class="icon">
                <svg>
                  <use
                    xlink:href="img/icons/whatsapp--outline.svg#svg-whatsapp--outline"
                  ></use>
                </svg>
              </span>
            </a>
            <a href="#" class="btn btn-base btn-icon">
              <span class="icon">
                <svg>
                  <use
                    xlink:href="img/icons/telegram--fill.svg#svg-telegram--fill"
                  ></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="header-actions-item">
            <a href="#" class="btn btn-lg btn-icon">
              <span class="icon">
                <svg>
                  <use
                    xlink:href="img/icons/cart--outline.svg#svg-cart--outline"
                  ></use>
                </svg>
              </span>
            </a>
            <a href="#" class="btn btn-lg btn-icon">
              <span class="icon">
                <svg>
                  <use
                    xlink:href="img/icons/user--outline.svg#svg-user--outline"
                  ></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="header-actions-item">
            <button type="button" class="btn btn-base btn-icon">
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/search.svg#svg-search"></use>
                </svg>
              </span>
            </button>
            <button
              type="button"
              class="btn btn-base btn-icon header-menu"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvas-header"
            >
              <span class="icon">
                <svg>
                  <use xlink:href="img/icons/menu.svg#svg-menu"></use>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
