<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="offcanvas-header"
  aria-labelledby="offcanvas-header-label"
>
  <div class="offcanvas-header">
    <div class="offcanvas-header-top">
      <h5 class="offcanvas-title" id="offcanvas-header-label">Menu</h5>

      <a href="tel:+88004444852" class="btn btn-phone"> +8 (800) 444 48-52 </a>
    </div>

    <div class="offcanvas-header-bottom">
      <a href="#" class="btn btn-block">
        <span class="icon">
          <svg>
            <use
              xlink:href="img/icons/cart--outline.svg#svg-cart--outline"
            ></use>
          </svg>
        </span>
        <div class="btn-block-content">
          Cart

          <span class="btn-block-badge">3</span>
        </div>
      </a>
      <a href="#" class="btn btn-block">
        <span class="icon">
          <svg>
            <use
              xlink:href="img/icons/user--outline.svg#svg-user--outline"
            ></use>
          </svg>
        </span>
        <div class="btn-block-content">Your account</div>
      </a>
    </div>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group">
      <li class="list-group-item list-group-item--header">Mining</li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Hardware </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Hosting </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Turnkey Mining Solutions </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Investments </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Containers </a>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item--header">Blog</li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Articles </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> News </a>
      </li>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item--header">About Us</li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> About Uminers </a>
      </li>
      <li class="list-group-item">
        <a href="#" class="btn list-group-link"> Delivery and Payment </a>
      </li>
    </ul>
    <ul class="list-group list-group--contacts">
      <li class="list-group-item list-group-item--header">Social Media</li>
      <li class="list-group-item">
        <a href="#" class="btn btn-icon">
          <span class="icon">
            <svg>
              <use
                xlink:href="img/icons/whatsapp--outline.svg#svg-whatsapp--outline"
              ></use>
            </svg>
          </span>
        </a>
        <a href="#" class="btn btn-icon">
          <span class="icon">
            <svg>
              <use
                xlink:href="img/icons/telegram--fill.svg#svg-telegram--fill"
              ></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="btn btn-icon btn-primary btn-close"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  >
    <span class="icon">
      <svg>
        <use xlink:href="img/icons/close.svg#svg-close"></use>
      </svg>
    </span>
  </button>
</div>
